:root {
    --main-bg-color: #FFF9E9; /* Example background color */
    --text-color: #9BC346;   /* Example text color */
    --accent-color: #007bff;  /* Example accent color */
    --dark-text-color: #042F10;
    --intro-text-color: #D1B000; 
}