/* Custom CSS styles */

.hero-body.has-text-centered p {
    color: var(--intro-text-color);
    font-size: 1.4em;
}

.welcome-end p {
    color: var(--intro-text-color);
    font-size: 1.4em;
}

.button.is-white.is-outlined {
    background-color: transparent;
    border-color: var(--intro-text-color);
    color: var(--intro-text-color);
}

.hero.is-fullheight.welcome .welcome-title {
    color: var(--intro-text-color);
}

.navbar-middle .welcome-title {
    color: var(--dark-text-color-1);
}

.navbar-middle .menu {
    color: var(--dark-text-color-1);
    text-align: center;
}

html {
    background-color: var(--main-bg-color);
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

.menu {
    max-width: 600px;
    font-size: 1.2em;
}

.slide-info h2 {
    color: var(--intro-text-color)
}

.slide-info p {
    color: var(--intro-text-color)
}