/* Custom CSS styles */

.hero-body.has-text-centered p {
    color: var(--dark-text-color);
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    background-color: hsla(0, 100%, 100%, .3);
    display: inline-block;
}

.welcome-end p {
    color: var(--dark-text-color);
    font-size: 1em;
    font-weight: bold;
    background-color: hsla(0, 100%, 100%, .3);
    display: inline-block;
}

.button.is-white.is-outlined {
    background-color: transparent;
    border-color: var(--dark-text-color);
    color: var(--dark-text-color);
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    background-color: hsla(0, 100%, 100%, .3);
    display: inline-block;
}

.hero.is-fullheight.welcome .welcome-title {
    color: var(--dark-text-color);
    font-style: italic;
    font-weight: 900;
    background-color: hsla(0, 100%, 100%, .3);
    display: inline-block;
}

.navbar-middle .welcome-title {
    color: var(--dark-text-color);
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}

.menu {
    color: var(--dark-text-color);
    text-align: center;
    font-family: 'Roboto Serif Italic Bold';
    position: relative; 
    left: 50%;
    transform: translateX(-50%);    
}

html {
    background-color: var(--main-bg-color);
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    /* -webkit-font-smoothing: antialiased; */
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* text-rendering: optimizeLegibility; */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

.menu {
    max-width: 600px;
    font-size: 1em;
}

.slider{
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
}

.slide-info h2 {
    color: var(--dark-text-color)
}

.slide-info p {
    color: var(--dark-text-color)
}

.slide-meta-title {
    color: var(--dark-text-color)
}

img.logo {
    height: 100%;
}

.content h1, h2, p {
    color: var(--dark-text-color)
}

.venmo-photo img {
    margin-bottom: 10px;
    width: 60%;
    max-height: 92vh;
}
